build:
  maxIssues: 0
  excludeCorrectable: false

config:
  validation: true
  warningsAsErrors: false

complexity:
  LongMethod:
    threshold: 60
  LongParameterList:
    functionThreshold: 6
  ComplexMethod:
    threshold: 15

style:
  MagicNumber:
    active: false
  MaxLineLength:
    maxLineLength: 120
